<div id="<%= dom_id product_price_history %>">
  <p>
    <strong>Product:</strong>
    <%= product_price_history.product_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product_price_history.price %>
  </p>

  <p>
    <strong>Effective date:</strong>
    <%= product_price_history.effective_date %>
  </p>

</div>
