<h1>Editing product price history</h1>

<%= render "form", product_price_history: @product_price_history %>

<br>

<div>
  <%= link_to "Show this product price history", @product_price_history %> |
  <%= link_to "Back to product price histories", product_price_histories_path %>
</div>
