<h1>New product price history</h1>

<%= render "form", product_price_history: @product_price_history %>

<br>

<div>
  <%= link_to "Back to product price histories", product_price_histories_path %>
</div>
